<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/ui/ui.css">
        <script src="https://kit.fontawesome.com/af362109d8.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            {% include 'menu.html.twig' %}
        </header>

        <br/><br/>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="/ui/app.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
