{% extends 'base.html.twig' %}

{% set page = 'account' %}

{% block body %}

    <h2>Account</h2>
    <p>Login and verify your character.</p>

    <form action="{{ path('tarkov_account_login') }}" id="tarkov_account_login">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="hwid">Hardware ID</label>
                    <input type="text" class="form-control" id="hwid">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>



{% endblock %}
